<div class="header p-shadow-4">
  <div class="p-grid p-nogutter">
    <div class="p-col">
      <img class="kraem-logo" src="assets/images/KOPS_Logo.png">
    </div>
    <!-- <div class="p-col-1 text-center">
      <app-notifications [notifications]="'3'"></app-notifications>
    </div> -->
    <div class="p-col-2 text-center">
      <app-user-profile></app-user-profile>
    </div>
    <div class="p-col-1">
      <div class="logout" title="Salir" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        <!-- <span>Salir</span> -->
      </div>
    </div>
  </div>
</div>
