$yellow: #feb300;
$pink: #f95669;
$purple: #8584ff;
$light-blue: #1fb1b1;
$blue: #0d86d6;
$green: #87c400;
$white: #fff;
$black: #000;
$medium-gray: #edeeef;
$light-gray: #f8f9fa;
$gray-1: #dfe1e5;
$light-pink: #ff0066;
$orange: #ff6600;
$gray-2: #383d43;
$red: #c32532;
