<div class="p-d-flex p-py-3 card ">
  <h3 class="p-ml-2" >Folio: {{accountPayable.folio}}</h3>
  <button pButton pRipple type="button" icon="pi pi-download" label="Descargar PDF"
    class="p-button-rounded p-button-help p-ml-auto p-mr-2" (click)="downloadPDF()"></button>
  <button pButton pRipple type="button" icon="pi pi-file-pdf" label="Ver PDF"
    class="p-button-rounded p-button-help p-mr-2" (click)="showPDF()"></button>
</div>

<div class="p-fluid p-formgrid p-grid">
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.createBy" [disabled]="true">
    <label for="float-input">Nombre Solicitante</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.createdOn" [disabled]="true">
    <label for="float-input">Fecha de Creación</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.estimatedDate" [disabled]="true">
    <label for="float-input">Fecha Estimada</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.supplierContactName" [disabled]="true">
    <label for="float-input">Contacto</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.supplierName" [disabled]="true">
    <label for="float-input">Proveedor</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.paymentTermName" [disabled]="true">
    <label for="float-input">Condiciones de Pago</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.supplierPhone" [disabled]="true">
    <label for="float-input">Teléfono</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.paymentTypeName" [disabled]="true">
    <label for="float-input">Tipo de Pago</label>
  </span>
</div>
<div class="p-field p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
  <span class="p-float-label p-mt-4">
    <input id="float-input" type="text" pInputText [(ngModel)]="accountPayable.period" [disabled]="true">
    <label for="float-input">Periodo</label>
  </span>
</div>

<div class="p-field p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12" *ngIf="listAccountPayableDetail.length > 0">
  <p-table [columns]="headers" [value]="listAccountPayableDetail" [scrollable]="true" [responsive]="true">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of headers" [class]="col.width">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="p-text-center" *ngFor="let col of headers">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of headers">
          <div [ngSwitch]="col.format">
            <div class="p-text-right" *ngSwitchCase="'currency'">
              {{rowData[col.field] | currency:'MXN':'symbol-narrow':'1.4-4' }}
            </div>
            <div class="p-text-center" *ngSwitchCase="'date'">
              {{rowData[col.field] | date: 'dd-MM-YYYY' }}
            </div>
            <div class="p-text-center" *ngSwitchCase="'quantity'">
              {{rowData[col.field] }}
            </div>
            <div class="p-text-left" *ngSwitchDefault>
              {{rowData[col.field ]}}
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" *ngIf="listAccountPayableDetail.length > 0">
      <tr>
        <td colspan="2"> </td>
        <td>Cantidad: {{quantity}}</td>
        <td colspan="2" class="p-text-right">Sub Total: </td>
        <td class="p-text-right">{{ subTotal | currency:'MXN':'symbol-narrow':'1.4-4' }}</td>
      </tr>
      <tr *ngFor="let colT of listTaxesAdded">
        <td colspan="5" class="p-text-right">{{colT.name}}: </td>
        <td class="p-text-right">{{ colT.amount | currency:'MXN':'symbol-narrow':'1.4-4' }}</td>
      </tr>
      <tr>
        <td colspan="5" class="p-text-right">Total: </td>
        <td class="p-text-right">{{ total | currency:'MXN':'symbol-narrow':'1.4-4' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          No se encontraron registros
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="p-field p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
  <span class="p-float-label p-mt-4">
    <textarea id="float-input" [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize"
      [(ngModel)]="accountPayable.notes" [disabled]="true"></textarea>
    <label for="float-input">Notas</label>
  </span>
</div>

<div class="p-field p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
  <span class="p-float-label p-mt-4">
    <textarea id="float-input" [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize"
      [(ngModel)]="accountPayable.observations" [disabled]="true"></textarea>
    <label for="float-input">Observaciones</label>
  </span>
</div>

<div class="p-field p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12" *ngIf="listAccountPayableDocuments.length > 0">
  <p-carousel [value]="listAccountPayableDocuments" [numVisible]="3" [numScroll]="3" [circular]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-document pTemplate="item">
      <p-card styleClass="p-card-shadow p-my-3" [style]="{width: '360px', height: '350px'}">
        <ng-template pTemplate="header">
          <img [src]="'data:image/png;base64,' + document.imageBase64" class="p-py-4">
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple type="button" icon="pi pi-download" [label]="document.userName"
            title="Descargar Documento" class="p-button-rounded p-button-help p-mr-2"
            (click)="downloadDocument(document)"></button>
        </ng-template>
      </p-card>
    </ng-template>
  </p-carousel>
</div>

<!-- <div class="p-field p-col-10 p-offset-1">
  <app-audit-trail-form *ngIf="data" #auditTrailForm [processType]="processTypeId" [item]="data">
  </app-audit-trail-form> 
</div> -->

</div>

