<div class="p-d-flex p-py-3 card">
  <button pButton pRipple type="button" icon="pi pi-refresh" label="Actualizar"
    class="p-button-rounded p-button-help p-mr-2" (click)="refreshData()"></button>
  <button pButton pRipple type="button" icon="pi pi-file-excel" label="Excel" *ngIf="listMerchandise.length > 0"
    class="p-button-rounded p-button-help p-mr-2" (click)="exportExcel()"></button>
</div>

<app-table-list #tableList [dataKey]="'folio'" [headers]="headers" [data]="listMerchandise"
  [showActions]="true" [detail]="false" [edit]="true" [delete]="false" [sendAuthorize]="false" (editItem)="editItem($event)">
</app-table-list>
