<div class="row" *ngIf="item.createdOn != ''">
  <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">

    <div class="container">
      <h3 class="card-title">Seguimiento de Estatus</h3>
      <div class="row">
          <div class="p-col-12">
              <div class="main-timeline">
                  <a class="timeline p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
                      <div class="timeline-icon ">
                        <span class="pi pi-plus" style="font-size: 2rem"></span>
                      </div>
                      <div class="timeline-content">
                          <h3 class="title">{{ item.createBy }} - Creada</h3>
                          <p class="description">
                            <b>Fecha creación:</b> {{ item.createdOn }}                            
                          </p>
                      </div>
                  </a>
                   <a *ngFor="let auditTrail of listAuditTrail; " class="timeline {{ auditTrail.authorizationStatusId  == 2 ? 'audit-trail-authorized' : 'audit-trail-reject'}}  p-xl-12 p-lg-12 p-md-12 p-sm-12" >
                      <div class="timeline-icon"><span class="pi {{ auditTrail.authorizationStatusId  == 2 ? 'pi-check' : 'pi-times'}}" style="font-size: 2rem"></span></div>
                      <div class="timeline-content">
                          <h3 class="title">{{ auditTrail.fullName }} - {{ auditTrail.authorizationStatusName }}</h3>
                          <p class="description">
                            <b>Fecha:</b> {{ auditTrail.createdOn }}<br>
                            <b>Observaciones:</b> {{ auditTrail.observation === null ? 'Sin Observaciones' : auditTrail.observation }}
                          </p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
